.charbox {
	width: 50rem;
	margin: auto;
	margin-bottom: 2rem;
	height: 15rem;
	border-bottom: 0.1rem solid rgba(000, 000, 000, 0.1);
	display: flex;
}

.charimg {
	background-color: rgba(000, 000, 000, 0.2);
}

.charimg,
.charbox img {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 14.5rem;
	width: 10rem;
	object-fit: contain;
	image-rendering: pixelated;
}

.charbox .chartext {
	margin-left: 2rem;
	line-height: 2rem;
}

.search {
	position: fixed;
	width: 10rem;
	height: 15rem;
	right: 0;
	background-color: #fff;
}

#chardetail {
	display: -webkit-box;
	-webkit-line-clamp: 5;
	/* 显示 3 行，超过的隐藏 */
	-webkit-box-orient: vertical;

	/* 2. 超出部分裁剪 */
	overflow: hidden;
}